{% extends "settings_page/base.html" %}
{% block head %}
<title>Settings - Indexers</title>
{% include "scripts/alpinejs.html" %}
{% endblock head %}
{% block content %}
<main class="flex flex-col gap-8">
  <form id="change-password-form" class="flex flex-col gap-2" hx-post="{{ base_url }}/settings/indexers"
    hx-target="this" x-data="{ selected: '{{ indexers[0].indexer.name }}' }">
    <h2 class="text-lg">Indexer Settings</h2>
    <p class="text-sm opacity-60">Extra indexer settings that add additional metadata to sources.</p>
    <label for="indexer-select">Indexer</label>
    <select id="indexer-select" name="indexer_select" class="select w-full" x-model="selected">
      {% for ctxt in indexers %}<option value="{{ ctxt.indexer.name }}">{{ ctxt.indexer.name }}</option>{% endfor %}
    </select>
    {% for ctxt in indexers %}
    <label for="{{ key }}">
      Enable Indexer
    </label>
    <input id="enabled-checkbox" name="enabled" type="checkbox" class="checkbox" {% if ctxt.enabled %}checked{% endif
      %} />
    <template x-if="selected === '{{ ctxt.indexer.name }}'">
      <div class="contents">
        {% for key, config in ctxt.configuration.items() %}
        <div>
          <label for="{{ key }}">
            {{ config.display_name }}
            {% if config.required %}<span class="text-error">*</span>{% endif %}
          </label>
          {% if config.description %}<p class="text-xs opacity-60">{{ config.description }}</p>{% endif %}
        </div>
        {% if config.is_str() %}
        <input id="{{ key }}" name="{{ key }}" type="text" class="input w-full"
          value="{{ getattr(ctxt.valued, key) or "" }}" {% if config.required %}required{% endif %} />
        {% elif config.is_int() or config.is_float() %}
        <input id="{{ key }}" name="{{ key }}" type="number" class="input w-full"
          value="{{ getattr(ctxt.valued, key) or "" }}" {% if config.required %}required{% endif %} />
        {% elif config.is_bool() %}
        <input id="{{ key }}" name="{{ key }}" type="checkbox" class="checkbox" {% if getattr(ctxt.valued, key)
          %}checked{% endif %} />
        {% endif %}
        {% endfor %}
      </div>
    </template>
    {% endfor %}
    <button name="submit" class="btn btn-primary" type="submit">Save</button>
  </form>

  <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded-sm md:my-10 dark:bg-gray-700">

  <form id="read-file-form" class="flex flex-col gap-2" hx-post="{{ base_url }}/settings/indexers/read-file">
    <h3 for="file_path" class="mr-2">Load indexer configurations from file</h3>
    <p class="text-sm opacity-60">Define a path to a JSON file that will be used to read configuration values from.</p>
    <div class="join">
      <input type="text" name="file_path" placeholder="Path to indexer config file" class="input w-full join-item"
        value="{{ file_path }}" />
      <button class="btn btn-primary join-item" type="submit">Load from file</button>
    </div>
  </form>
</main>
{% endblock content %}
