@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default, night --prefersdark;
}

/* Enables dark mode specific styling with "dark:" */
@custom-variant dark (&:where(.dark, .dark *));


.error-alert {
  @apply !bg-error;
}

.success-alert {
  @apply !bg-success;
}

.info-alert {
  @apply !bg-info;
}

.slider-round {
  height: 10px;
}

.slider-round .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px; /* half the width */
  border-radius: 9px;
}

.light-dark-toggle {
  position: relative;
  display: inline-grid;
  cursor: pointer;
  place-content: center;
  vertical-align: middle;
  webkit-user-select: none;
  user-select: none;
  input {
    appearance: none;
    border: none;
  }
  > * {
    grid-column-start: 1;
    grid-row-start: 1;
    transition-property: transform, rotate, opacity;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.DARKCLASS .theme-light {
  rotate: 45deg;
  opacity: 0%;
}

.theme-dark {
  rotate: 45deg;
  opacity: 0%;
}

.DARKCLASS .theme-dark {
  rotate: 0deg;
  opacity: 100%;
}

.changelog > h1 {
  @apply text-2xl font-bold mb-4;
}
.changelog > h2 {
  @apply text-xl font-semibold mt-8 mb-2;
}
.changelog > h3 {
  @apply font-semibold mt-2 mb-1;
}
.changelog > ul {
  @apply list-disc pl-5 mb-2;
}
.changelog > ul > li {
  @apply mb-1 text-sm;
}
.changelog a {
  @apply underline;
}
